.i-controls {
  margin-bottom: 2em;
}

.i-message-box {
  width: 300px;
  margin: auto;
  text-align: center;
  margin-bottom: 2em;
  background: #eee;
  border-radius: 4px;
  padding: 4px;
}

.square {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 50px;
  text-align: center;
}

.X {
  color: red;
}

.O {
  color: blue;
}

button {
  margin-top: 5px;
}

table {
  
}
